@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  display: grid;
  grid-template-areas:
    "menu-container content"
    "footer footer";
  grid-template-columns: 240px auto;
  grid-template-rows: auto 40px;

  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
}
footer {
  grid-area: footer;
}

.menu-container {
  grid-area: menu-container;
}
.content {
  min-height: calc(100vh - 40px);
  grid-area: content;
}
@media (max-width: 768px) {
  body {
    grid-template-areas:
      "menu-container"
      "content"
      "footer";
      grid-template-columns: auto;
  grid-template-rows:100px auto 40px;
  }
}
